<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Node Js Demo</h1>
                <p>Welcome to Node JS Demo App</p>

                <h2><%= title %></h2>

                <ul>
                    <% tools.forEach(function(tool) { %>
                    <li>
                        <strong><%= tool.name %>: </strong>
                        <%= tool.description %>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>
